.visivel {
    display: block !important;
}

#resposta {
    display: none;
}
button {
    margin-left: 45%;
    margin-top: 5%;
    font-family: cursive;
    border-radius: 50%;
    width: 10%;
    background-color: whitesmoke;
    color: black;
}
h1 {
    text-align: center;
    opacity: .9;
    transition: opacity 4s;
}
h1:hover {
    opacity: .0;
}