h1 {
    margin-top: 30px;
    display: grid;
    place-items: center;
    font-style: italic;
}

#TabelaDiv {
    margin-top: 150px;
    display: grid;
    place-items: center;
    height: 200px;

}

#tabela {
    width: 300px;
    height: 100px;
    border-collapse: collapse;
    border: 3px solid black;
}

tr,td,th {
    text-align: center;
    border: 2px solid black;
    transition: .8s;
}

#th,tr:hover > :not(:hover) {
    background-color: white;
}

body {
    background-color: rgba(30, 45, 58, 0.607);
}